/*  EFFECT UPGRADE  */
.up-grade:hover {
  transform: scale(1.2) translate(0, -40%);
}

a:hover {
  color: var(--color-text-primary);
}

nav a:hover {
  box-shadow: inset 22px -14px #141922, inset -18px 1px 0 -1px #141922,
    inset 0px -17px 3px #adff2f, 0px 0px 0px;
}

.nav {
  &:last-child {
    &:hover,
    &.is-active {
      &:before {
        left: (100%-$width)+ ($width/2) !important;
      }
      &:after {
        left: 100%-$width !important;
      }
    }
  }
}
