/*
# ********************
#      	GENERIC	     *
# ********************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
li:nth-child(2) {
  color: var(--color-text-secondary);
}

a {
  display: inline-block;
  padding: var(--space-small);
  text-decoration: none;
  color: var(--color-text-secondary);
  cursor: pointer;
}
/*
# ********************
#      	UTILITY	     *
# ********************
*/
.container {
  padding: var(--space-margin);
}
.row {
  margin-left: -20px;
  margin-right: -20px;

  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc((100% / 6) * 1);
  text-align: center;

  display: flex;
  flex-direction: column;
}

[class*="col"] {
  padding: var(--space-margin);
}

/*
# ******************
#      	ROOT	     *
# ******************
*/

:root {
  /* Testo - Colori */
  --color-text-primary: #f6f6f6;
  --color-text-secondary: #696969;
  --color-bg-primary: #141922;
  --color-bg-sidebar: #000000;
  --color-bg-header: rgba(0, 0, 0, 0.4);

  /* Spazzi... */
  --space-big: 20px;
  --space-small: 5px;
  --space-margin: 20px;

  /* Grandezze */
  --height-player: 100px;
  --height-header: 100px;
  --width-sidebar: 300px;
}

/*
# ********************
#      	SECTION	     *
# ********************
*/

/* *MACRO-LAYOUT */

/* ?      MAIN-LAYOUT     */
#wrapper {
  height: calc(100vh - var(--height-player));
  display: flex;
}
/* ?      FOOTER-LAYOUT     */
#player {
  width: 100%;
  height: var(--height-player);
  background-color: #282828;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* *FINE-LAYOUT */

/* ?    SIDEBAR       */

#sidebar {
  width: var(--width-sidebar);
  background-color: var(--color-bg-sidebar);
  padding: var(--space-big);
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-big);
  overflow-y: auto;
}

/* *LOGO - (SIDEBAR) */
#sidebar img {
  width: 65%;
  margin-bottom: var(--space-small);
}
#sidebar .logo-big {
  display: block;
}

#sidebar .logo-small {
  display: none;
}

/* *SECTION -_HOME,CERCA,LIBRERIA_- (SIDEBAR) */
#sidebar .icon-img,
#sidebar .icon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-small);
  color: var(--color-text-secondary);
}

#sidebar a {
  padding: initial;
}

#sidebar .icon-img > img {
  width: 20px;
}

#sidebar .icon {
  display: flex;
  gap: var(--space-small);
}

/* *PLAYLIST - (SIDEBAR) */

#playlist h4 {
  margin-bottom: var(--space-small);
}

#new-playlist {
  display: flex;
  flex-direction: column;
  gap: var(--space-big);
  color: var(--color-text-secondary);
  overflow-y: auto;
  min-height: 100px;
}

/* *PROFIL - DOWNLOAD APP - (SIDEBAR) */
#sidebar .profile-download {
  margin-top: auto;
}

#bar {
  display: block;
  margin: calc(2px + var(--space-small)) 0;
  border: 1px solid var(--color-text-secondary);
}

#profilo .icon-img {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 25px;
  background-color: var(--color-text-secondary);
  overflow: hidden;
  margin-bottom: var(--space-small);
}

#sidebar #profilo img {
  width: 30px;
  padding-top: 10px;
}

#sidebar #profilo .icon-text > a {
  color: var(--color-text-primary);
}

/* ?    MAIN-CONTENT       */
#main-content {
  width: calc(100% - var(--width-sidebar));
  overflow-y: auto;
  overflow-x: hidden;
}

/* ?    HEADER     */
#header {
  position: sticky;
  left: 0;
  top: 0;
  height: var(--height-header);
  background-color: var(--color-bg-header);
}

.up-grade {
  position: absolute;
  right: 40px;
  top: calc(100% / 2);
  transform: translate(0, -50%);
  padding: 10px 30px;
  max-width: 300px;
  border: 1px solid var(--color-text-primary);
  border-radius: 50px;
  text-align: center;
}
/* ?    ALBUM     */
#album h4.album-card-section,
#album h5.album-card-section {
  font-size: initial;
  margin: 5px 0;
}

#album h5 {
  color: var(--color-text-secondary);
}
#album nav {
  line-height: 50px;
  font-size: 15px;
  text-align: center;
}
#album .album-card-section {
  max-width: 200px;
  min-width: 80px;
}

#album img {
  width: 100%;
}
/*  *ALBUM SECTION 3   */

#playlist-popular .album-circle {
  border-radius: 50%;
  overflow: hidden;
}

/* ?    FOOTER       */
#player .container {
  padding: var(--space-small);
}
#player .container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 2;
  gap: var(--space-small);
}

#player .container:nth-child(2) {
  flex-direction: column;
  align-items: normal;
}
/* * left */
#player .box-img {
  max-width: 80px;
  min-width: 60px;
}
#player img {
  width: 100%;
}

#info-player ul {
  margin-right: 5%;
  white-space: nowrap;
}
/* *center */
.contoller-player {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-big);
}

.bar-container {
  flex-grow: 3;
  min-width: 80px;
}

.bar-size {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-text-secondary);
  border-radius: 3px;
}

.bar-size > .bar-progress {
  display: block;
  width: 30%;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 3px;
}
/* *right */
#sound.container {
  justify-content: flex-end;
}

#sound .bar-container {
  max-width: 100px;
}

#sound .hamburger-audio {
  display: none;
}

/*
# ******************
#      	DEBUG	     *
# ******************
*/

.debug * {
  border: 1px dashed rgb(255, 0, 0);
  /* padding: 10px; */
}

/*
# ************************
#      	MEDIA QUERY	     *
# ************************
*/

/* !    TABLET      */
@media screen and (max-width: 1300px) {
  #album h4.album-card-section,
  #album h5.album-card-section {
    font-size: 1vw;
  }
}

@media screen and (max-width: 878px) {
  .col-tab {
    width: calc((100% / 4) * 1);
  }
}

@media screen and (max-width: 639px) {
  .col-tab {
    width: calc((100% / 2) * 1);
  }
  #album h4.album-card-section,
  #album h5.album-card-section {
    font-size: 2vw;
  }
}

/* !    FOOTER       */

@media screen and (max-width: 576px) {
  :root {
    --width-sidebar: 50px;
  }
  #sidebar {
    padding: 0;
    align-items: center;
    gap: var(--space-small);
  }
  #sidebar .icon {
    justify-content: center;
  }
  #sidebar .logo-big {
    display: none;
  }
  #sidebar .logo-small {
    display: block;
  }

  #sidebar img {
    width: 70%;
    padding-top: 10px;
  }
  #sidebar .icon-text {
    display: none;
  }
  #sidebar .icon img {
    width: 25px;
  }
  #playlist {
    display: none;
  }
  #sidebar .icon#download img {
    width: 20px;
  }
  #sidebar #profilo img {
    transform: translate(0, -1px);
  }
  #album .album-card-section {
    max-width: inherit;
  }
}

@media screen and (max-width: 500px) {
  #player #sound:not(.hamburger-audio) * {
    display: none;
  }
  #player #sound .hamburger-audio {
    display: block;
    margin-right: 20px;
  }

  #info-player ul {
    display: none;
  }
  html {
    position: fixed;
  }
}
